<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
        <meta name="apple-mobile-web-app-capable" content="yes">

        <title>HungryHipp.us</title>

        <!-- Development version of Vue.js, at some point use the release version. -->
        <script src="https://vuejs.org/js/vue.js"></script>

        <!-- Greensock Animation Platform -->
        <script src="http://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.0/TweenMax.min.js"></script>

        <!-- Our super cool helper scripts. -->
        <script src="assert.js"></script>
        <script src="request.js"></script>

        <!-- Client style sheet. -->
        <link href="client.css" rel="stylesheet">

        <!-- Favicons in all shapes and colors. -->
        <link rel="apple-touch-icon" sizes="57x57" href="assets/favicon/apple-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="assets/favicon/apple-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="assets/favicon/apple-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="assets/favicon/apple-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="assets/favicon/apple-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="assets/favicon/apple-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="assets/favicon/apple-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="assets/favicon/apple-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="assets/favicon/apple-icon-180x180.png">
        <link rel="icon" type="image/png" sizes="192x192"  href="assets/favicon/android-icon-192x192.png">
        <link rel="icon" type="image/png" sizes="32x32" href="assets/favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="96x96" href="assets/favicon/favicon-96x96.png">
        <link rel="icon" type="image/png" sizes="16x16" href="assets/favicon/favicon-16x16.png">
        <link rel="manifest" href="assets/favicon/manifest.json">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="assets/favicon/ms-icon-144x144.png">
        <meta name="theme-color" content="#ffffff">
    </head>

    <body>
        <div id="app-root" v-on:click="feedMe">
            <h1>HungryHipp.us</h1>

            <div id="game-screen" class="screen" v-if="isPlaying">
                <h2 class="hippo-name">{{ hippoName }}</h2>
                <div id="tap-text">Tap anywhere to feed your hippo!</div>
                <div id="score-text">Score: {{ score }}</div>
            </div>

            <div id="lose-screen" class="screen" v-if="!isPlaying">
                <h2 id="game-over-text">Game Over</h2>
                <div id="game-over-message">Your hippo <span class="hippo-name">{{ hippoName }}</span> ate a poison marble and died.</div>
                <div id="final-score-text">Your final score is {{ score }}.</div>
                <button v-on:click.stop="reload">Play Again</button>
            </div>

            <div id="nose-goes-overlay" v-if="noseGoes.isActive">
                <div
                    id="poison-marble"
                    v-bind:style="{ top: (noseGoes.marbleY * 100) + '%', left: (noseGoes.marbleX * 100) + '%' }"
                    v-on:click="poisonMarble"
                ></div>
            </div>
        </div>

        <!-- Load script for the client. -->
        <script src="client.js"></script>
    </body>
</html>
