@import url('https://fonts.googleapis.com/css?family=Baloo');

body {
    padding: 0;
    margin: 0;
    overflow: hidden;
}

h1 {
    margin: 0;
}

h2 {
    margin: 0;
}

#app-root {
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;

    overflow: hidden;

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */

    font-family: 'Baloo', cursive;
    text-align: center;

    padding: 20px;
}

@media all and (orientation: portrait) {
    * {
        font-size: 5vw;
    }
}

@media all and (orientation: landscape) {
    * {
        font-size: 5vh;
    }
}

.screen {
    /* Center the text in the screen */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: calc(100% - 40px);
}

#tap-text {
    font-size: 200%;
}

#lose-screen {
    font-size: 150%;
}

#game-over-text {
    font-size: 200%;
}

#final-score-text {
    padding-bottom: 30px;
}

button {
    background-color: #bc00a6;
    color: white;
    border-style: none;
    padding: 20px;
    border-radius: 5px;
}

.hippo-name {
    color: #bc00a6;
}
