@import url('https://fonts.googleapis.com/css?family=Baloo');

body {
    padding: 0;
    margin: 0;
}

h1 {
    margin: 0;
}

#app-root {
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;

    overflow: hidden;
    user-select: none;

    font-family: 'Baloo', cursive;
    text-align: center;

    padding: 20px;
}

#centered-text {
    /* Center the text in the screen */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 100%;

    font-size: 5vw;
}

#tap-text {
    font-size: 10vw;
}
