<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Hangry Hangry Hippos</title>

        <!-- Development version of Vue.js, at some point use the release version. -->
        <script src="https://vuejs.org/js/vue.js"></script>

        <!-- Greensock JS Animation Platform. -->
        <script src="http://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.0/TweenMax.min.js"></script>

        <!-- Our super cool helper scripts. -->
        <script src="assert.js"></script>
        <script src="request.js"></script>

        <!-- The host's style sheet. -->
        <link href="host.css" rel="stylesheet"></link>

        <!-- Favicons in all shapes and colors. -->
        <link rel="apple-touch-icon" sizes="57x57" href="assets/favicon/apple-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="assets/favicon/apple-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="assets/favicon/apple-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="assets/favicon/apple-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="assets/favicon/apple-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="assets/favicon/apple-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="assets/favicon/apple-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="assets/favicon/apple-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="assets/favicon/apple-icon-180x180.png">
        <link rel="icon" type="image/png" sizes="192x192"  href="assets/favicon/android-icon-192x192.png">
        <link rel="icon" type="image/png" sizes="32x32" href="assets/favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="96x96" href="assets/favicon/favicon-96x96.png">
        <link rel="icon" type="image/png" sizes="16x16" href="assets/favicon/favicon-16x16.png">
        <link rel="manifest" href="assets/favicon/manifest.json">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="assets/favicon/ms-icon-144x144.png">
        <meta name="theme-color" content="#ffffff">
    </head>

    <body>
        <div id="vue-root">
            <div id="top-side" class="horizontal-side">
                <hippo-head
                    v-for="hippo in topHippos"
                    :key="hippo.player.id"
                    v-bind:hippo="hippo"
                ></hippo-head>
            </div>

            <div id="right-side" class="vertical-side">
                <hippo-head
                    v-for="hippo in rightHippos"
                    :key="hippo.player.id"
                    v-bind:hippo="hippo"
                ></hippo-head>
            </div>

            <div id="bottom-side" class="horizontal-side">
                <hippo-head
                    v-for="hippo in bottomHippos"
                    :key="hippo.player.id"
                    v-bind:hippo="hippo"
                ></hippo-head>
            </div>

            <div id="left-side" class="vertical-side">
                <hippo-head
                    v-for="hippo in leftHippos"
                    :key="hippo.player.id"
                    v-bind:hippo="hippo"
                ></hippo-head>
            </div>

            <div id="attract-message" v-show="!noseGoes.isActive">
                Go to <span id="site-address">http://hungryhipp.us/</span> to play!
            </div>

            <div id="nose-goes" v-show="noseGoes.isActive">
                Look at your phone!
            </div>
        </div>

        <!-- Load script for the host. -->
        <script src="host.js"></script>
    </body>
</html>
