@import url('https://fonts.googleapis.com/css?family=Baloo');

body {
    /* Remove the default padding around the edge of the screen. */
    margin: 0;
    padding: 0;

    /* Make sure scroll bars never show up, and the game is always full-screen. */
    overflow: hidden;

    font-family: 'Baloo', cursive;

    background-color: #70bd8e;
}

#vue-root {
    width: 100vw;
    height: 100vh;
}

#top-side {
    position: absolute;
    top: 0;

    flex-direction: row;
}

#right-side {
    position: absolute;
    right: 0;

    flex-direction: column;
}

#bottom-side {
    position: absolute;
    bottom: 0;

    flex-direction: row-reverse;
}

#left-side {
    position: absolute;
    left: 0;

    flex-direction: column-reverse;
}

.horizontal-side, .vertical-side {
    display: flex;
    flex-wrap: nowrap;
}

.horizontal-side {
    width: 100%;
    height: auto;

    box-sizing: border-box;
    padding: 0 200px; /* Horizontal margins should match hippo head size. */
}

.horizontal-side .hippo-text {
    left: 50%;
    transform: translateX(-50%);
}

.vertical-side {
    height: 100%;
    width: auto;

    box-sizing: border-box;
    padding: 200px 0; /* Vertical margins should match hippo head size. */
}

.vertical-side .hippo-text {
    top: 50%;
    transform: translateY(-50%);
}

.side-contents {
    width: 100%;
    height: 100%;
}

.hippo-head {
    position: relative;
    height: 100px;
    text-align: center;

    /*
     * Allow the hippo head container to expand, causing the hippos to space themselves evently
     * along their side of the screen.
     */
    flex-grow: 1;
}

.vertical-side .hippo-head {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hippo-head-image {
    width: 100px;

    /* Make the position relative so we can tween its position with top, right, left, bottom. */
    position: relative;
}

.hippo-text {
    position: absolute;
    white-space: nowrap;
}

.food-pile {
    position: absolute;
    width: 100px;
    height: 100px;
}

/* Top side styles. */
#top-side .hippo-text {
    top: 200px;
}

#top-side .food-pile {
    top: 100px;
}

/* Right side styles. */
#right-side .hippo-text {
    right: 200px;
}

#right-side .hippo-head-image {
    transform: rotate(90deg);
}

#right-side .food-pile {
    right: 100px;
}

/* Bottom side styles. */
#bottom-side .hippo-text {
    bottom: 200px;
}

#bottom-side .hippo-head-image {
    transform: rotate(180deg);
}

#bottom-side .food-pile {
    bottom: 100px;
}

/* Left side styles. */
#left-side .hippo-text {
    left: 200px;
}

#left-side .hippo-head-image {
    transform: rotate(-90deg);
}

#left-side .food-pile {
    left: 100px;
}

#attract-message {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    white-space: nowrap;

    font-size: 250%;
}

#site-address {
    font-size: 150%;
    color: #bc00a6;
}

#nose-goes {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    white-space: nowrap;

    font-size: 600%;
    color: red;
}

/* Animation styles */
/* ================ */

.hippo-head {
    transition: all 1s;
}

.hippo-enter, .hippo-leave-to {
    opacity: 0;
    flex-grow: 0;
}

.horizontal-side .hippo-enter, .horizontal-side .hippo-leave-to {
    width: 0;
}

.vertical-side .hippo-enter, .vertical-side .hippo-leave-to {
    height: 0;
}

#top-side .hippo-enter, #top-side .hippo-leave-to {
    transform: translateY(-100%);
}

#right-side .hippo-enter, #right-side .hippo-leave-to {
    transform: translateX(100%);
}

#bottom-side .hippo-enter, #bottom-side .hippo-leave-to {
    transform: translateY(100%);
}

#left-side .hippo-enter, #left-side .hippo-leave-to {
    transform: translateX(-100%);
}
